<h1>Proyectos</h1>
<div id="projects_container">
  <% @projects.each do |project| %>
    <div class="col-sm-6 col-md-4 project_item">
      <%= render 'project_thumbnail', project: project %>
    </div>
  <% end %>
</div>
