<%
faq = {
  general: [
    {q: '¿Qué es Crowdfunding?', a: 'Crowdfunding es la práctica de recaudar dinero, para un proyecto, por medio de los aportes de una multitud de personas.'},
    {q: '¿Qué es Impulsideas?', a: 'Impulsideas es una plataforma de crowdfunding de origen dominicano. En ella puedes recaudar fondos para tus proyectos o puedes apoyar los proyectos que quieres que se hagan realidad.'},
    {q: '¿Quién puede usar Impulsideas?', a: 'Gente de casi todo el mundo puede contribuir en Impulsideas. Apoyadores desde la India, Singapur, Taiwan y Malasia no son aceptados.'},
    {q: '¿Qué es una campaña?', a: 'Llamamos campaña al proyecto registrado de un emprendedor. Es decir, una campaña es un proyecto en proceso de recaudación de fondos.'},
    {q: '¿Por qué las personas apoyan las campañas?', a: 'Por lo general, porque quieren consumir, usar o participar del producto que la idea ofrece.'},
    {q: '¿Qué cuesta utilizar Impulsideas?', a: 'Impulsideas es de registro gratuito. Los proyectos que alcanzan su meta de recaudación dentro de su fecha límite, serán cargados con un 5% de los fondos recaudados más otros cargos por la transacción de los fondos.'},
    {q: '¿Cómo cancelo mi cuenta?', a: 'Puedes cancelar tu cuenta siempre y cuando no haya fondos en proceso de recaudación. Cuentas que tengan campañas en proceso, necesitan mantenerse activas. Para cancelarla dirígete a “Editar Cuenta” y haz click en boton borrar'},
    {q: '¿Qué necesito hacer para recaudar fondos en Impulsideas?', a: '1. Una idea para desarrollar un producto o evento.<br/>2. Un video de máximo 5 minutos que explique tu idea.<br>3. Una meta monetaria para recaudar en un rango de tiempo de máximo 60 días.<br>4. Muchas ganas de lograr tu meta.<br>'},
    {q: '¿Qué gano si alcanzo las metas de mi campaña en Impulsideas?', a: 'Ganas los fondos que necesitas para desarrollar tu producto o evento.'},
    {q: '¿Quién puede participar como emprendedor?', a: 'Toda persona física (particular) no jurídica (empresa):<br>- Residente en República Dominicana.<br>- Portador de cédula de identidad.'},
    {q: '¿Qué tipo de proyectos puedo someter?', a: 'Impulsideas se enfoca en los siguientes proyectos:<br><b>a. Comerciales.</b> Actividad que cree oferta y demanda en el mercado dentro de las siguientes categorías: Arte, Software, Moda, Juegos, Publicidad, Comida y Diseño.<br><b>b. Causa Social.</b> Actividad de recaudación de fondos para desarrollar situaciones de interés común para la sociedad - no se permiten proyectos relacionados a eventos catastróficos.<br>'},
    {q: '¿Qué tipo de proyectos puedo someter?', a: '- No se permiten proyectos personales: evento o asunto de beneficio personal (boda, cumpleaños, etc.). No cumple con crear oferta y demanda en el mercado.<br>No se permiten proyectos empresariales: proyecto con el propósito de mantener una empresa.'},
    {q: '¿Por qué no se pueden registrar empresas?', a: 'Impulsideas es un servicio diseñado para dar ventaja a particulares, no a empresas.'},
    {q: '¿Cuántos proyectos puedo impulsar al año?', a: 'Se permiten cuatro (4) proyectos por emprendedor al año.'},
    {q: '¿Cuántas campañas puedo tener activas al mismo tiempo?', a: 'Se permiten dos (2) campañas simultáneas por cuenta.'},
    {q: '¿Cómo recibo los fondos recaudados?', a: 'Impulsideas utiliza a Paypal como plataforma para tramitar pagos. Cuando te inscribes como “Emprendedor” puedes vincular tu cuenta de Paypal a tu cuenta de Impulsideas. Si no tienes una cuenta de Paypal puedes pagar con tu tarjeta desde paypal tambien. Adicionalmente, si tienes preguntas sobre como retirar tus fondos desde República Dominicana envianos un correo a <a href="mailto:servicio@impulsideas.com">servicio@impulsideas.com</a>.'},
    {q: '¿Qué pasa si alguien más hace un proyecto parecido a mi idea?', a: 'En Impulsideas no somos responsables de que alguien someta una idea parecida antes o después de usted haber publicado su proyecto. Lo ideal es que, si su idea puede ser replicada, tome todas las medidas legales para salvaguardar su proyecto antes de publicarlo, y que no comunique la información que considere como secreta y/o esencial en su página de proyectos.'},
    {q: '¿Qué pasa si no alcanzo mi meta de financiación?', a: 'Si no se alcanza la meta, entonces, no se cobran las contribuciones. Las contribuciones solo son cobradas si el proyecto alcanza su meta.'},
    {q: '¿Cuánto tiempo tengo para recaudar fondos? ', a: 'Tienes máximo 60 días para alcanzar tus metas en una campaña. '},
    ],
  contribuidores: [
    {q: '¿Cómo puedo apoyar proyectos en Impulsideas?', a: '1. Presiona “contribuir” en el proyecto que te interese.<br>2. Ingresa el monto a contribuir.<br>3. Paga con Paypal.'},
    {q: '¿Quién puede participar como apoyador?', a: 'Cualquier persona en el mundo que sea portador de una tarjeta de crédito, débito o una cuenta de Paypal. Apoyadores desde la India, Singapur,Taiwán y Malasia no son aceptados. '},
    {q: '¿Cómo puedo apoyar los proyectos?', a: 'Dando la cantidad de dinero que considere. '},
    {q: '¿Puedo apoyar con la cantidad de dinero que desee?', a: 'Existe un tope máximo de US$100.00 (o su equivalente en la moneda de tu país) por transacción. Cada persona puede hacer un máximo de 4 transacciones por proyecto.'},
    {q: '¿Qué gano con apoyar proyectos?', a: '- Contribuir a que el proyecto se haga realidad.<br>Obtener recompensas de acuerdo a la cantidad aportada según sean determinadas por los emprendedores dueños del proyecto apoyado.<br>'},
    {q: '¿A quién debo contactar si tengo una pregunta sobre mi contribución? ', a: 'Si usted tiene una pregunta acerca de una recompensa o necesita más información sobre alguna contribución, póngase en contacto con el dueño de la campaña. Para cualquier otra pregunta, envíenos un email a <a href="mailto:servicio@impulsideas.com">servicio@impulsideas.com</a>.'},
    {q: '¿Cómo sé que los fondos recaudados van a ser utilizados en el proyecto presentado?', a: "Los emprendedores se hacen responsables de desarrollar su proyecto y transferir las recompensas a los apoyadores como establecen en su campaña a través de los #{link_to "Terminos de uso", about_terms_path}."}
  ]
}
%>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <div class="page-header">
      <h1>FAQs</h1>
    </div>
    <% faq.each do |header, questions| %>
      <h3><%= header.to_s.titleize %></h3>
      <ul class="faq">
        <% questions.each do |question| %>
        <li>
          <a href="#" class="question"><%= question[:q] %></a>
          <p class="answer well"><%=raw question[:a] %></p>
        </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
