<div class="row">
  <!-- <div class="col-sm-3"></div> -->
  <div class="col-sm-12">
    <div class="page-header">
      <h1>Impulsideas T&eacute;rminos y Condiciones ("Acuerdo" )</h1>
    </div>
<p ><span>Por favor, lea estos t&eacute;rminos y condiciones ("Acuerdo", "T&eacute;rminos y Condiciones") cuidadosamente antes de usar www.impulsideas.com ("el Sitio") operado por GAPEK, SRL ("nosotros" o "nuestro"). Este Acuerdo establece los t&eacute;rminos y condiciones legalmente vinculadas al uso del Sitio www.impulsideas.com.</span></p>
<p ><span>Al acceder o utilizar el Sitio en cualquier forma, incluyendo, pero no limitado a, visitar o navegar por la Web o aportar contenidos u otros materiales en el Sitio, usted acepta que quedar&aacute; vinculado por estos T&eacute;rminos y Condiciones. Los t&eacute;rminos en may&uacute;scula se definen en el presente Acuerdo.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Servicio de Impulsideas</span></h2>
<p ><span>Impulsideas es una plataforma de crowdfunding que faculta a las personas para recaudar fondos. Sin embargo, la recaudaci&oacute;n de fondos personales, micro pr&eacute;stamos, ayuda humanitaria, o modelos de financiaci&oacute;n basados ​​en acciones no est&aacute;n permitidos.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Propiedad Intelectual</span></h2>
<p ><span>El sitio y su contenido original, las caracter&iacute;sticas y la funcionalidad son propiedad de GAPEK, SRL y est&aacute;n protegidos por derechos de autor internacionales, marcas registradas, patentes, secretos comerciales y otras propiedades intelectuales o leyes de derechos de propiedad.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Elegibilidad</span></h2>
<p ><span>Usted puede usar nuestros servicios si:</span></p>
<ol>
<li >
<p ><span>Tiene 18 a&ntilde;os o m&aacute;s con un Documento de Identificaci&oacute;n aprobado que confirme su edad</span></p>
</li>
<li >
<p ><span>Su membres&iacute;a o el uso de otro modo no se ha restringido, suspendido o cancelado</span></p>
</li>
<li >
<p ><span>No est&aacute; utilizando la cuenta de otro miembro sin su permiso</span></p>
</li>
<li >
<p ><span>Actualmente no Reside en un pa&iacute;s que no recibe nuestros servicios (</span><span>LINK FAQ</span><span>)</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Convertirse en un miembro</span></h2>
<p ><span>Convi&eacute;rtete en un miembro, siguiendo los pasos de nuestro sitio web, www.impulsideas.com. Se requiere informaci&oacute;n precisa y completa para la creaci&oacute;n de su cuenta y la creaci&oacute;n y gesti&oacute;n de su perfil de miembro.</span></p>
<p ><span>Proporcionar&aacute; a Impulsideas con su direcci&oacute;n de correo electr&oacute;nico cuando se convierta en un Miembro. Al hacerlo, usted nos autoriza el uso del correo electr&oacute;nico para enviarle cualquier aviso requerido por la ley, en lugar de la comunicaci&oacute;n por correo postal, junto con otros mensajes, incluidos los cambios en las caracter&iacute;sticas del servicio, ofertas especiales y marketing, ventas y materiales de promoci&oacute;n.</span></p>
<p ><span>Una vez que te conviertes en miembro, usted es el &uacute;nico responsable de la actividad que se produce en su cuenta y de mantener la contrase&ntilde;a de su cuenta segura. Usted debe notificar a Impulsideas inmediatamente de cualquier violaci&oacute;n de seguridad o uso no autorizado de su cuenta.</span></p>
<p ><span>S&oacute;lo usted est&aacute; sujeto a, y es responsable de todas las p&eacute;rdidas o da&ntilde;os causados ​​por cualquier uso no autorizado de su cuenta, independientemente de la raz&oacute;n o la causa de la p&eacute;rdida o el da&ntilde;o - y no Impulsideas.</span></p>
<h2 ><span>Reglas Generales de Uso</span></h2>
<p ><span>Como condici&oacute;n de uso del Servicio como un Usuario o Miembro, usted se compromete a:</span></p>
<ul>
<li >
<p ><span>Utilizar el Servicio de acuerdo con todas las leyes, reglamentos, decretos, directivas, &oacute;rdenes judiciales y el presente Acuerdo local y aplicable al uso del Sitio Web y sus Servicios.</span></p>
</li>
<li >
<p ><span>Utilizar el servicio en una manera a fin de no da&ntilde;ar, subutilizar, sobrecargar o deteriorar el Servicio, nuestras redes o de los sistemas o de no interferir con los derechos legales o el uso o disfrute del Servicio de los dem&aacute;s Usuarios.</span></p>
</li>
<li >
<p ><span>Aseg&uacute;rese de que es propietario o tenga un derecho legal para utilizar el contenido de los miembros con el Servicio y que no infrinja los derechos de propiedad intelectual de otros. "Contenido de Miembro" significa el contenido que se utiliza para crear y administrar una campa&ntilde;a, escribir o comentar o contribuir a una campa&ntilde;a. "Derechos de Propiedad Intelectual" significa todos los derechos en todo el mundo en las patentes, marcas comerciales, marcas de servicio, derechos de autor, secretos comerciales, la publicidad, fondo de comercio y todos los dem&aacute;s derechos de propiedad intelectual, pueden existir ahora o en el futuro llegar a existir, y todos los derivados, por lo tanto, las aplicaciones y las inscripciones, renovaciones y pr&oacute;rrogas de los mismos.</span></p>
</li>
</ul>
<p ><span>A modo de ejemplo, y no como limitaci&oacute;n, su promesa significa que usted no utilizar&aacute; el servicio:</span></p>
<p ><span>1. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para ofrecer, vender o distribuir:</span></p>
<p ><span>1.1. Sustancias controladas (como esteroides, drogas, tabaco, medicamentos recetados, marihuana), dispositivos m&eacute;dicos o productos o servicios que representen un riesgo para la seguridad del consumidor.</span></p>
<p ><span>1.2. Parafernalia de drogas.</span></p>
<p ><span>1.3. La intimidaci&oacute;n, acoso, elementos obscenos o pornogr&aacute;ficos, de orientaci&oacute;n sexual o materiales o servicios expl&iacute;citas.</span></p>
<p ><span>1.4. Acciones, bonos u otros valores, bienes ra&iacute;ces, seguros o servicios bancarios o financieros.</span></p>
<p ><span>1.5. Armas de fuego, municiones, cuchillos o accesorios regulados por la ley.</span></p>
<p ><span>1.6. Art&iacute;culos que promuevan el odio, lesiones personales, muerte, da&ntilde;o o destrucci&oacute;n a la propiedad.</span></p>
<p ><span>1.7. Art&iacute;culos que infrinjan o violen los derechos de propiedad intelectual de terceros, derechos de privacidad o los derechos de propiedad o err&oacute;neamente revelen informaci&oacute;n confidencial.</span></p>
<p ><span>2. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para participar en, fomentar, promover, facilitar o instruir a otros a participar en actividades que son ilegales o, en nuestro juicio y discreci&oacute;n, dan lugar a:</span></p>
<p ><span>2.1. Infringir o violar los derechos de propiedad intelectual de los dem&aacute;s y/o derechos de privacidad o injustamente revelar o utilizar la informaci&oacute;n confidencial.</span></p>
<p ><span>2.2. Promover el terrorismo, el abuso, la difamaci&oacute;n, el odio, lesiones personales, da&ntilde;os a la propiedad, la violencia, la intolerancia racial o la explotaci&oacute;n financiera.</span></p>
<p ><span>2.3. Causar riesgo de o verdaderas lesiones personales o da&ntilde;os a la propiedad tangible o intangible.</span></p>
<p ><span>2.4. Difamar a una persona o entidad.</span></p>
<p ><span>2.5. Esquemas de apuesta, lavado de dinero, evasi&oacute;n de impuestos, loter&iacute;as, rifas, sorteos, piramidales, Ponzi o esquema o juego o concurso de azar similares.</span></p>
<p ><span>2.6. Auto-promoci&oacute;n no autorizada.</span></p>
<p ><span>2.7. El uso de nuestros widgets en sitios con contenido que sea contrario o que viole este Acuerdo</span></p>
<p ><span>3. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para:</span></p>
<p ><span>3.1. Recoger o recolectar informaci&oacute;n acerca de otros (como direcciones de correo electr&oacute;nico u otra informaci&oacute;n de identificaci&oacute;n personal) sin su consentimiento de otro modo.</span></p>
<p ><span>3.2. Tomar cualquier acci&oacute;n que imponga o pueda imponer, a nuestro exclusivo criterio, una carga irrazonable o desproporcionadamente grande en la infraestructura o de lo contrario pueda ser perjudicial, incluyendo pero no limitado a, "flooding" cualquier grupo con comentarios.</span></p>
<p ><span>3.3. Subir, publicar, usar o poner a disposici&oacute;n cualquier contenido que contenga virus de software o cualquier otro c&oacute;digo de computadora, archivos corruptos o programas que impidan el uso de cualquier software o hardware o equipo de telecomunicaciones.</span></p>
<p ><span>3.4. Enviar mensajes o correos masivos o usar o lanzar alg&uacute;n sistema automatizado, incluyendo sin limitarse, "robots", " spiders", "lectores fuera de l&iacute;nea", etc., que acceda al servicio de una manera que env&iacute;e m&aacute;s mensajes de solicitud a los servidores de Impulsideas de los que un ser humano puede razonablemente producir en el mismo per&iacute;odo de tiempo mediante el uso de un navegador web convencional on- line.</span></p>
<p ><span>3.5. Intentar interferir con, poner en peligro la integridad del sistema o de la seguridad o descifrar cualquier transmisi&oacute;n hacia o desde los servidores que ejecutan el servicio o interferir en el correcto funcionamiento del servicio o medidas de derivaci&oacute;n para impedir o restringir el acceso al Servicio</span></p>
<p ><span>3.6. Hacerse pasar por otra persona o tergiversar su afiliaci&oacute;n con una persona o entidad, llevar a cabo fraude, ocultar o tratar de ocultar su identidad.</span></p>
<p ><span>3.7. Haga cualquier comentario falso o enga&ntilde;oso &nbsp;tales como informaci&oacute;n falsa o enga&ntilde;osa en la campa&ntilde;a, en su perfil de campa&ntilde;a (como tergiversar el Beneficiario o el prop&oacute;sito de la campa&ntilde;a) o en un comentario.</span></p>
<p ><span>Usted acepta que nosotros s&oacute;lo actuamos como un conducto pasivo para la distribuci&oacute;n y publicaci&oacute;n en l&iacute;nea de su Contenido de Miembro sin obligaci&oacute;n para monitorear el Contenido de Miembros o disputas entre los Usuarios o Miembros. Usted es responsable de protegerse de Contenido de Miembros o Contenido de Impulsideas que sea ofensivo o perjudicial.</span></p>
<p ><span>No obstante lo anterior, usted reconoce y acepta que Impulsideas puede, pero no est&aacute; obligado, a su exclusiva discreci&oacute;n y juicio, a:</span></p>
<p ><span>1. Verificar su uso en cualquier momento como un Usuario o Miembro.</span></p>
<p ><span>2. Permanente o temporalmente terminar, suspender o negarse a permitir su acceso o uso del Servicio o su cuenta (s) , o eliminar cualquier Contenido de Miembros , de comentarios o cualquier otro contenido o bloquear cualquier persona o entidad por cualquier raz&oacute;n (o sin raz&oacute;n en absoluto).</span></p>
<p ><span>3. Retrasar o retener el pago de o devolver o reembolsar cualquier Contribuci&oacute;n o de otros importes.</span></p>
<p ><span>Todo ello sin previo aviso y sin responsabilidad por cualquier da&ntilde;o y sin que sea necesario consultar a cualquier otra parte. Tras la rescisi&oacute;n, por cualquier motivo, usted contin&uacute;a obligado por el presente Acuerdo.</span></p>
<h3 ><span>Para crear una campa&ntilde;a</span></h3>
<p ><span>1. Crear un perfil de campa&ntilde;a y publicar una "Solicitud de Fondos". Se le puede requerir proporcionar la informaci&oacute;n de pago en funci&oacute;n de c&oacute;mo se hacen las contribuciones.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>2. Establezca su objetivo para las contribuciones totales que desea alcanzar durante su campa&ntilde;a actual ("Objetivo de la Campa&ntilde;a") y la fecha para la cual desea obtener los fondos ("Fecha l&iacute;mite de campa&ntilde;a") en la p&aacute;gina del perfil de su Campa&ntilde;a. La fecha l&iacute;mite de campa&ntilde;a puede estar entre 1 y 60 d&iacute;as a partir de la fecha en que su campa&ntilde;a se puso en marcha. Si la meta de su Campa&ntilde;a no es alcanzada antes de la fecha l&iacute;mite, entonces los Contribuyentes no son cobrados por Impulsideas</span><span>. </span><span>Si usted alcanza su meta de la campa&ntilde;a, puede publicar una nueva campa&ntilde;a para financiar la pr&oacute;xima fase de su campa&ntilde;a. El n&uacute;mero de campa&ntilde;as que puede hacer por emprendedor al a&ntilde;o es de cuatro (4) por a&ntilde;o. De igual manera est&aacute; restringido tener m&aacute;s de dos (2) campa&ntilde;as en proceso por cuenta.</span></p>
<p ><span>3. Designar la entidad legal o persona que recibe las contribuciones (el "Beneficiario") y aseg&uacute;rese de que el Beneficiario configure una cuenta (una "Cuenta de Fondos") con el procesador de pagos designado independiente del pago (el "Procesador") para recibir contribuciones. Usted puede designarse a s&iacute; mismo como el beneficiario.</span></p>
<p ><span>4. Usted puede ofrecer recompensas no monetarias para las contribuciones ("Beneficios").</span></p>
<p ><span>5. Cuando llegue a su Fecha l&iacute;mite de campa&ntilde;a, su solicitud de fondos se cerrar&aacute; autom&aacute;ticamente y ninguna contribuci&oacute;n ser&aacute; aceptada para su campa&ntilde;a. Usted puede hacer una nueva solicitud de fondos en cualquier momento despu&eacute;s de que el final de la &uacute;ltima solicitud de fondos se cierra.</span></p>
<p ><span>6. Mediante el uso de nuestro servicio, usted acepta que un tercero pueda elegir su campa&ntilde;a como uno de sus favoritos, y puede agregarlo a la p&aacute;gina del tercero o lista en Impulsideas.com. Usted puede negarse a esto enviando un correo electr&oacute;nico a servicio@impulsideas.com.</span></p>
<p><span><span><br /><br /></span></span></p>
<h2 ><span>Declaraciones y Promesas de usuario, Propietario Campa&ntilde;a y beneficiario</span></h2>
<p ><span>Como usuario, usted declara y promete que:</span></p>
<ol>
<li >
<p ><span> Toda la informaci&oacute;n de registro que presente es fiel y exacta.</span></p>
</li>
<li >
<p ><span> Va a mantener la exactitud de dicha informaci&oacute;n.</span></p>
</li>
<li >
<p ><span> Tiene 18 a&ntilde;os de edad o m&aacute;s.</span></p>
</li>
<li >
<p ><span> La utilizaci&oacute;n del Sitio Web y los Servicios no viola este Acuerdo. Su perfil puede ser eliminado y su uso puede ser cancelado sin previo aviso, si creemos que usted es menor de 18 a&ntilde;os de edad.</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Como propietario de campa&ntilde;a, usted representa y promete para nosotros que usted:</span></p>
<ol>
<li >
<p ><span> Es el representante autorizado del beneficiario con la autoridad:</span></p>
</li>
<ol>
<li >
<p ><span>para solicitar contribuciones para el beneficiario , y</span></p>
</li>
<li >
<p ><span>de obligar al beneficiario a los t&eacute;rminos de este Acuerdo.</span></p>
</li>
</ol>
<li >
<p ><span> Es el &uacute;nico responsable de cumplir con todas las reglas, pol&iacute;ticas y procedimientos del procesador de pagos.</span></p>
</li>
<li >
<p ><span> Cumplir&aacute; con todas las normas especiales sobre beneficios (recompensas).</span></p>
</li>
<li >
<p ><span> Responder&aacute; con prontitud y honestidad a las preguntas formuladas por los Miembros.</span></p>
</li>
<li >
<p ><span> Aseg&uacute;rese de que todas las contribuciones se desembolsan correctamente y legalmente al Beneficiario y que se utilizan como describe la Campa&ntilde;a.</span></p>
</li>
<li >
<p ><span> Si, por alguna raz&oacute;n, usted no puede utilizar Contribuciones como se describe en su campa&ntilde;a, usted trabaja con sus colaboradores para llegar a una soluci&oacute;n mutuamente satisfactoria que pueda incluir, sin limitaci&oacute;n, la devoluci&oacute;n de las contribuciones.</span></p>
</li>
<li >
<p ><span> Son responsables por el uso de las contribuciones distintas a las contempladas en la campa&ntilde;a ("mal uso"), conjunta y solidariamente, con el Beneficiario de la Campa&ntilde;a y la rendici&oacute;n de cuentas y responsabilidad.</span></p>
</li>
<li >
<p ><span> Recompensas o incentivos no deben incluir tarjetas de regalo, acciones, rifas o sorteos.</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Como beneficiario, usted reconoce, entiende y promete que:</span></p>
<ol>
<li >
<p ><span> Tu Cuenta de Fondos est&aacute; sujeta a los t&eacute;rminos del Procesador de pagos (PayPal).</span></p>
</li>
<li >
<p ><span> Impulsideas no se hace responsable de:</span></p>
</li>
<ol>
<li >
<p ><span>cualquier campa&ntilde;a no alcanzar su meta;</span></p>
</li>
<li >
<p ><span>cualquier reembolso, incluyendo, sin limitaci&oacute;n, por contribuciones o recompensas, por cualquier raz&oacute;n o sin raz&oacute;n alguna;</span></p>
</li>
<li >
<p ><span>cualquier error u omisi&oacute;n en la Cuenta de Fondos o causado por el procesador de pagos;</span></p>
</li>
<li >
<p ><span>el fracaso del procesador de pagos o propietario de Campa&ntilde;a a pagar las contribuciones al beneficiario o por el mal uso de las contribuciones, y</span></p>
</li>
<li >
<p ><span>del Contenido de miembros.</span></p>
</li>
</ol></ol>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Usted como due&ntilde;o de campa&ntilde;a es el responsable de cualquier medida, da&ntilde;o y/o reclamaci&oacute;n que haga sobre su campa&ntilde;a.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Contribuyentes y contribuciones a campa&ntilde;as</span></h2>
<p ><span>Impulsideas puede proporcionarle la oportunidad de hacer contribuciones a cualquier campa&ntilde;a con una solicitud de fondos m&aacute;xima de US$100.00 (o su equivalente en la moneda de tu pa&iacute;s) por transacci&oacute;n. Cada persona puede hacer un m&aacute;ximo de 4 transacciones por proyecto.</span></p>
<p ><span>Todas las contribuciones son reembolsables por Impulsideas y est&aacute;n hechas en su sola discreci&oacute;n y por su cuenta y riesgo en base a su exclusiva determinaci&oacute;n y evaluaci&oacute;n de la Campa&ntilde;a. Usted es el &uacute;nico responsable de determinar la deducibilidad fiscal de cualquier contribuci&oacute;n.</span></p>
<p ><span>Hacer una colaboraci&oacute;n no:</span></p>
<ol>
<li >
<p ><span>le dar&aacute; ning&uacute;n derecho o propiedad sobre o en que la campa&ntilde;a o contribuciones;</span></p>
</li>
<li >
<p ><span>le dar&aacute; ning&uacute;n derecho de distribuci&oacute;n;</span></p>
</li>
<li >
<p ><span>le dar&aacute; ning&uacute;n derecho de controlar o dirigir de otra manera con el Propietario Campa&ntilde;a, Beneficiario, Impulsideas , el Servicio , Campa&ntilde;a, procesador o limitar o afectar de otro modo Colaboradores o contribuciones , y</span></p>
</li>
<li >
<p ><span>crear cualquier obligaci&oacute;n o responsabilidad por parte de Impulsideas a cualquier colaborador o por cualquier contribuci&oacute;n , independientemente de la raz&oacute;n.</span></p>
</li>
</ol>
<p ><span>Las ventajas que le ofrecemos son estrictamente entre el contribuyente y el propietario de la campa&ntilde;a y del beneficiario.</span></p>
<p ><span>Impulsideas no representa, ni garantiza que:</span></p>
<ol>
<li >
<p ><span>Se dar&aacute;n los beneficios;</span></p>
</li>
<li >
<p ><span>Los beneficios ser&aacute;n satisfactorios para usted, o</span></p>
</li>
<li >
<p ><span>El uso de cualquier Contribuci&oacute;n o el resultado de cualquier campa&ntilde;a. Le corresponde a usted, como contribuyente, al hacer tales preguntas y llevar a cabo dicha diligencia seg&uacute;n considere necesario antes de hacer una contribuci&oacute;n. Impulsideas podr&aacute;, a su entera discreci&oacute;n y juicio, pero no est&aacute; en obligaci&oacute;n de, solicitar la devoluci&oacute;n de las cuotas.</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Tasas, Impuestos y Verificaci&oacute;n</span></h2>
<p ><span>Todas las contribuciones se depositar&aacute;n en su Cuenta de Financiamiento menos nuestra tasa por servicios que figura en nuestro sitio web (</span><span>LINK FAQ</span><span>). Diferentes cargos pueden aplicarse a las campa&ntilde;as sin fines de lucro o con descuento. Los honorarios se pueden ajustar en cualquier momento como Impulsideas decida a su exclusivo criterio y discreci&oacute;n. Los honorarios son reembolsables.</span></p>
<p ><span>Honorarios del procesador y las tasas y cargos pueden aplicar y/o ser&aacute;n deducidos de Cuotas. Las contribuciones se transferir&aacute;n basado en la financiaci&oacute;n y el pago que haya seleccionado a menos que se ejecute para completar nuestro proceso de verificaci&oacute;n o de ser reembolsado cuando lo consideremos apropiado a nuestra sola discreci&oacute;n.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Usted es responsable de informar adecuadamente y pagar a tiempo, todos los impuestos de todas las contribuciones.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Podemos verificar tu identidad y la del beneficiario, la utilizaci&oacute;n de las contribuciones y la l&iacute;nea de tiempo de la campa&ntilde;a antes de que las contribuciones se depositen en su cuenta. Usted se compromete a participar en nuestro proceso de verificaci&oacute;n que puede implicar una entrevista y/o revisi&oacute;n de documentos. La verificaci&oacute;n puede resultar en un retraso de las contribuciones que se transfieran o inversi&oacute;n y reembolso como Impulsideas determine a su sola discreci&oacute;n y juicio.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Las discrepancias en las declaraciones o falsos argumentos en cuanto a la Campa&ntilde;a, Beneficiario o usos de contribuciones pueden resultar en devoluci&oacute;n de Aportes y/o suspensi&oacute;n de cuentas. Si los Aportes se han desembolsado a usted o del Beneficiario, usted y el beneficiario se asegurar&aacute; de que todas las contribuciones se reembolsar&aacute;n con prontitud a todos los colaboradores, sin deducci&oacute;n de las cuotas pagadas o por pagar por usted.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Contenido de los Miembros y garant&iacute;a de no infraccion</span></h2>
<p ><span>El servicio le permite publicar los detalles de la campa&ntilde;a y la informaci&oacute;n, opiniones, comentarios, preguntas, y otra informaci&oacute;n ("Contenido de Miembro"). Usted es el &uacute;nico responsable del Contenido de Miembros que cargue, publique, muestre, vincule o de otro modo utilice o ponga a disposici&oacute;n (colectivamente, "Publicaci&oacute;n") en el Servicio.</span></p>
<p ><span>Usted manifiesta y garantiza que:</span></p>
<ol>
<li >
<p ><span>Usted es el propietario de (o tiene todos los derechos y permisos necesarios para utilizar) todos los derechos de propiedad intelectual (como se define a continuaci&oacute;n) en el contenido de los miembros que publique o como se contempla razonablemente por el uso en Impulsideas de dicho Contenido de miembros y contar con el consentimiento por escrito de cada persona f&iacute;sica identificable en el Contenido de Miembros a utilizar, el nombre o la imagen de esa persona en la forma prevista por el Servicio y el presente Acuerdo.</span></p>
</li>
<li >
<p ><span>El uso del contenido de los miembros con los Servicios no infringe ning&uacute;n derecho de propiedad intelectual, derechos de propiedad, derechos de privacidad, la confidencialidad y los derechos de publicidad o de alguna forma violar este Acuerdo.</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Usted entiende que la publicaci&oacute;n del contenido de los miembros en el servicio no es un sustituto para registrarse con la Oficina Nacional de Propiedad Intelectual de Rep. Dom. (ONAPI), </span><span>U.S. Patent and Trademark Office, U.S. Copyright Office, the Writer's Guild of America, </span><span>o cualquier otra organizaci&oacute;n de derechos.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Concesi&oacute;n de licencia de contenido de los miembros y Sugerencias de Campa&ntilde;a.</span></h2>
<p ><span>Al publicar cualquier contenido de Servicio de los miembros, Usted concede expresamente, y usted representa y garantiza que usted tiene el derecho de conceder, a Impulsideas, sublicenciable, transferible, perpetua, irrevocable no exclusiva y libre de regal&iacute;as, a nivel mundial para usar, reproducir, modificar, publicar, listar informaci&oacute;n sobre, editar, traducir, distribuir, ejecutar p&uacute;blicamente, exhibir p&uacute;blicamente y hacer obras derivadas de todo el Contenido de miembros, incluidos, sin limitaci&oacute;n, su nombre, voz y/o imagen, parcial o completamente, y en cualquier forma, medio o tecnolog&iacute;a, ya sea conocido o por desarrollarse para su uso en relaci&oacute;n con el Servicio.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Usted decide:</span></p>
<ol>
<li >
<p ><span>Irrevocablemente ceder todos los derechos mundiales, t&iacute;tulos e intereses sobre y para todo el Contenido publicado a un miembro de la campa&ntilde;a, al Due&ntilde;o que la public&oacute; y,</span></p>
</li>
<li >
<p ><span>Por la presente renuncio y cedo al propietario de la Campa&ntilde;a y a Impulsideas cualquier reclamaci&oacute;n que ahora tienen o pueda tener en lo sucesivo, conocidos o desconocidos en relaci&oacute;n con o como resultado del contenido publicado incluyendo, sin limitaci&oacute;n, la infracci&oacute;n o violaci&oacute;n de cualquier derecho de privacidad o de la obligaci&oacute;n de confidencialidad.</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Si publica una campa&ntilde;a, usted reconoce y acepta que Impulsideas no se hace responsable por el uso del contenido publicado y es utilizado a su propio riesgo.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Concesi&oacute;n de licencia para utilizar el servicio y el contenido de Impulsideas</span></h2>
<p ><span>Usted entiende y acepta que el uso del Servicio (incluyendo, sin limitaci&oacute;n, el contenido de Impulsideas) es un privilegio y no un derecho. En virtud del presente Acuerdo, Impulsideas le otorga una licencia personal limitada no exclusiva, para usar el Servicio de acuerdo con este Acuerdo. Usted se compromete a (y se asegurar&aacute; de otros):</span></p>
<ol>
<li >
<p ><span>Utilizar el Servicio o Contenido Impulsideas en estricto cumplimiento del presente Acuerdo, y</span></p>
</li>
<li >
<p ><span>No crear trabajos derivados de cualquier Contenido de Impulsideas. El uso del Servicio o Contenido de Impulsideas para cualquier prop&oacute;sito que no est&eacute; expresamente permitido por este Acuerdo est&aacute; terminantemente prohibido.</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<p ><span>A excepci&oacute;n del Contenido de Miembros y el derecho limitado del uso del Servicio, Impulsideas conserva todos los derechos, t&iacute;tulos e intereses (incluyendo, sin limitaci&oacute;n, todos los Derechos de Propiedad Intelectual) sobre y para el Servicio y todo el contenido creado y utilizado por Impulsideas en conjunto con el Servicio, incluyendo, a modo de ejemplo y no como limitaci&oacute;n, todo el software, im&aacute;genes, textos, gr&aacute;ficos, ilustraciones, logotipos, patentes, marcas comerciales, marcas de servicio, derechos de autor, fotograf&iacute;as, audio, videos, m&uacute;sica (el "Contenido de Impulsideas"), todos de los cuales son de titularidad exclusiva de Impulsideas y sus licenciantes. Impulsideas retiene todos los derechos no concedidos expresamente a usted.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Impulsideas se reserva todos los derechos no concedidos expresamente en el Servicio. Impulsideas podr&aacute; terminar esta licencia en cualquier momento y por cualquier motivo o sin motivo.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>El uso de widgets</span></h2>
<p ><span>Impulsideas le puede dar la oportunidad de publicar un "widget " o c&oacute;digo que crea un gr&aacute;fico de Impulsideas y un enlace al sitio, en su blog personal, perfil de red social, o en otros lugares en el Internet. Usted acepta que el uso de widgets de Impulsideas est&aacute; sujeto a este Acuerdo, que no publicar&aacute; ning&uacute;n widget de Impulsideas en una p&aacute;gina web que contiene el contenido que est&aacute; prohibido en virtud de la secci&oacute;n de este Acuerdo "Contenido de miembros", y que eliminar&aacute; todos los widgets de Impulsideas inmediatamente despu&eacute;s de la terminaci&oacute;n del presente Acuerdo.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Seguridad</span></h2>
<p ><span>Hemos implementado medidas t&eacute;cnicas y organizativas comercialmente razonables destinadas a asegurar su informaci&oacute;n personal de p&eacute;rdidas accidentales y frente al acceso, uso, alteraci&oacute;n o divulgaci&oacute;n. Sin embargo, no podemos garantizar que terceros no autorizados no podr&aacute;n superar esas medidas o utilizar su informaci&oacute;n personal para fines indebidos. Usted reconoce que usted proporciona su informaci&oacute;n personal bajo su propio riesgo.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Indemnidad</span></h2>
<p ><span>Usted acepta defender, indemnizar y mantener a Impulsideas, sus subsidiarias y compa&ntilde;&iacute;as afiliadas, y sus oficiales, directores, empleados, contratistas, agentes, sin da&ntilde;os de y contra cualquier y todo reclamo, causas de acci&oacute;n, da&ntilde;os, obligaciones, p&eacute;rdidas, responsabilidades, costos o de la deuda, y gastos (incluyendo honorarios y costos de abogados) que surja de o en relaci&oacute;n con su uso del contenido del Servicio e Impulsideas incluyendo, sin limitaci&oacute;n, su negligencia, incumplimiento de cualquiera de las representaciones, garant&iacute;as o promesas o violaci&oacute;n de cualquier ley, reglamento, ordenanza, una directiva o una orden judicial. Usted sigue siendo responsable de cualquier cantidad que pagamos en el arreglo de cualquier reclamaci&oacute;n o acci&oacute;n de indemnizaci&oacute;n como si hubi&eacute;ramos procedido a un juicio.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Terminaci&oacute;n</span></h2>
<p ><span>Podemos cancelar su acceso al Sitio, sin causa particular o previo aviso, que puede resultar en la confiscaci&oacute;n y destrucci&oacute;n de toda la informaci&oacute;n asociada con usted. Todas las disposiciones de este Acuerdo que por su naturaleza deber&iacute;an sobrevivir a la terminaci&oacute;n permanecer&aacute;n, incluyendo, sin limitaci&oacute;n, las disposiciones de propiedad, renuncias de garant&iacute;a, indemnizaci&oacute;n y limitaciones de responsabilidad.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Enlaces a otros sitios</span></h2>
<p ><span>Nuestro Sitio puede contener enlaces a sitios de terceros que no son propiedad ni est&aacute;n controladas por GAPEK, SRL.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>GAPEK, S.R.L. no tiene control sobre, y no asume ninguna responsabilidad por el contenido, pol&iacute;ticas de privacidad o pr&aacute;cticas de cualquier sitio o servicio de terceros. Recomendamos como prioridad leer los t&eacute;rminos y condiciones y las pol&iacute;ticas de privacidad de cualquier sitio de terceros que visite.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Legislaci&oacute;n aplicable</span></h2>
<p ><span>Este Acuerdo (y cualquier otra regla, pol&iacute;tica o lineamiento incorporado por referencia) se regir&aacute;n e interpretar&aacute;n de acuerdo con las leyes de la Rep&uacute;blica Dominicana, sin dar efecto a cualquier principio de conflicto de leyes.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Cambios a este Acuerdo</span></h2>
<p ><span>Nos reservamos el derecho , a nuestra sola discreci&oacute;n, de modificar o sustituir estos T&eacute;rminos y Condiciones mediante la publicaci&oacute;n de los t&eacute;rminos actualizados en el sitio. El uso del Sitio despu&eacute;s de cualquier cambio constituye la aceptaci&oacute;n de los nuevos T&eacute;rminos y Condiciones.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Por favor revise este Acuerdo peri&oacute;dicamente para mantenerse actualizado de los cambios. Si usted no est&aacute; de acuerdo con alg&uacute;n elemento o cambio de este Acuerdo, descontin&uacute;e la utilizaci&oacute;n y el acceso al Sitio inmediatamente.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Cont&aacute;ctenos</span></h2>
<p ><span>Si usted tiene alguna pregunta acerca de este Acuerdo , por favor cont&aacute;ctenos en </span><span><a href="mailto:servicio@impulsideas.com">servicio@impulsideas.com</a></span><span>.</span></p>


</div>
</div>


