<div class="row">
  <!-- <div class="col-sm-3"></div> -->
  <div class="col-sm-12">
    <div class="page-header">
      <h1>Impulsideas: T&eacute;rminos y Condiciones de Uso</h1>
    </div>
<p ><span>POR FAVOR LEA ESTAS TÉRMINOS DE USO ("ACUERDO" O "CONDICIONES DE USO") ANTES DE UTILIZAR LOS SERVICIOS OFRECIDOS POR IMPULSIDEAS (EL "SITIO"). ESTE ACUERDO DE USUARIO, LA POLÍTICA DE PRIVACIDAD DE IMPULSIDEAS Y TODAS LAS OTRAS POLÍTICAS EN NUESTRO SITIO RECOGEN LOS TÉRMINOS EN QUE IMPULSIDEAS OFRECE ACCESO Y USO DE NUESTROS SITIOS, SERVICIOS, APLICACIONES y HERRAMIENTAS (COLECTIVAMENTE "SERVICIOS". TODAS LAS POLÍTICAS DE IMPULSIDEAS SE INCORPORAN EN ESTE ACUERDO YA SEA EN SU TOTALIDAD O POR REFERENCIA. ADEMÁS ALGUNOS SERVICIOS OFRECIDOS A TRAVÉS DEL SERVICIO PUEDEN ESTAR SUJETOS A LOS TÉRMINOS Y CONDICIONES ADICIONALES APROBADOS POR LA COMPAÑÍA.</span></p>
<p ><span>ESTE ACUERDO ES UN CONTRATO ENTRE USTED ("USUARIO") E IMPULSIDEAS, UN PRODUCTO DE GRUPO GAPEK (LA "COMPAÑIA", "NOSOTROS", O "IMPULSIDEAS"). AL ACCEDER O UTILIZAR EL SITIO O HACIENDO CLIC EN UN CASILLERO QUE INDICA QUE ACEPTA O QUE ESTÁ DE ACUERDO CON ESTOS TÉRMINOS DE USO, USTED ESTABLECE QUE ESTÁ DE ACUERDO CON ESTOS TÉRMINOS DE USO, YA FUERE QUE SEA O NO UN USUARIO REGISTRADO DEL SITIO. SI USTED NO ESTÁ DE ACUERDO CON ESTOS TÉRMINOS DE USO, NO PODRÁ USAR EL SITIO.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Servicio de Impulsideas</span></h2>
<p ><span>Impulsideas es un lugar para el comercio. El sitio permite a ciertos usuarios, ("Creador (es)") que cumplan con las políticas del sitio, publicar proyectos (“Campañas (s)”) y tratar de obtener retroalimentación para lograr ventas a través de otros usuarios ("Consumidor (es)") comercializando artículos y servicios de diversas naturalezas y valor ("Artículo (s)"). Además ciertos usuarios ("Patrocinador (es) de Artículo (s)") pueden ofrecer artículos o servicios de diversas naturalezas y valor ("Artículo patrocinado") a los creadores del proyecto para su uso en la venta para obtener dinero para su proyecto. Los fondos recaudados de las Ventas Patrocinadas están dirigidos a la campaña a la que estén asociados.</span></p>
<p ><span>Además, el sitio permite a ciertos usuarios ("Vendedor (es)") que cumplen con las políticas del sitio para publicar páginas ("Tienda (s)") para los fines de oferta y venta ("Listado (s)") de ciertos bienes y servicios ("Inventario") en un formato de precio fijo. Otros usuarios ("Comprador (es)") pueden comprar inventario de los Vendedores.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Contenido de Usuario</span></h2>
<p ><span>Ciertas partes del Sitio permiten a los usuarios la capacidad de crear contenido. El contenido incluye, pero no está limitado a, páginas de proyectos, campañas, premios, artículos, artículos patrocinadas, tiendas, artículos de inventario, textos, mensajes, ideas, conceptos, propuestas, sugerencias, historias, guiones, tratamientos, formatos, obras de arte, fotografías, dibujos, vídeos, trabajos audiovisuales, composiciones musicales (incluyendo las letras), grabaciones de sonido, caracterizaciones, su nombre y el de otros usuarios y  los nombres de otras personas, sus voces, nombres de usuario, perfiles, acciones, apariciones, actuaciones y/u otra información biográfica o material, y/u otros materiales similares que usted envíe, publique, suba, incruste, muestre, comunique o distribuya en o a través del sitio ("Contenido de Usuario").</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Reglas y Conducta</span></h2>
<p ><span>Como condición de uso, usted se compromete a no utilizar el Servicio para ningún propósito que esté prohibido por las condiciones de uso o la ley. El servicio se proporciona únicamente para su uso personal y no comercial (con excepción de lo permitido por los términos establecidos en la Campañas; Campaña y sección de Comercio y La Tienda; Sección de Comercio de los Términos de Uso). Usted es responsable de la totalidad de su actividad en relación con el Servicio. Usted no podrá, ni deberá permitir a cualquier tercero el uso de su cuenta para tomar cualquier acción o presentar cualquier Contenido de Usuario, que:</span></p>
<ul>
  <li >
    <p ><span>se encuentre en una categoría inapropiada o área en el Sitio;</span></p>
  </li>
  <li >
    <p ><span>violar cualquier ley, derechos de terceros o las condiciones de uso;</span></p>
  </li>
  <li >
    <p ><span>es falsa, inexacta, engañosa, difamatoria o calumniosa (incluida la información personal);</span></p>
  </li>
  <li >
    <p ><span>constituya publicidad no solicitada o no autorizada o material promocional o cualquier correo basura, correo no deseado, no solicitado, o las comunicaciones electrónicas en masa, cadenas de cartas o esquemas piramidales;</span></p>
  </li>
  <li >
    <p ><span>que contenga virus o cualquier otra tecnología que pueda dañar el Sitio, la Sociedad, o a los usuarios del sitio;</span></p>
  </li>
  <li >
    <p ><span>pueda dañar, deshabilitar, sobrecargar o deteriorar el sitio o software, sistemas o equipos de la Compañía, o de cualquier usuario;</span></p>
  </li>
  <li >
    <p ><span>cosechar o recolectar información de cualquier forma acerca de los usuarios (ya sea por secuencias de comandos autorizados o no), incluyendo nombre, direcciones de correo electrónico o cualquier otra información personal o confidencial de los usuarios, sin su consentimiento;</span></p>
  </li>
  <li >
    <p ><span>sea difamatorio, acosador, abusivo, amenazante, una invasión de un derecho a la privacidad de otra persona, intolerante, odioso, racista u ofensivo de otra manera, violento, vulgar, obsceno, pornográfico o sexualmente explícito de otro modo, que de algún modo dañe o razonablemente pueda dañar a cualquier persona o entidad;</span></p>
  </li>
  <li >
    <p ><span>participa en cualquier actividad que sea ilegal o fomente o promueva actividades ilegales o la discusión de actividades ilegales con la intención de cometerlas, incluyendo contenido que es o representa un intento de participar en pornografía infantil, acoso, asalto sexual, fraude, tráfico de material, trato obsceno o tráfico de drogas y/o abuso de drogas, acoso, robo y conspiración para cometer cualquier actividad criminal;</span></p>
  </li>
  <li >
    <p ><span>imponga o pueda imponer (a nuestra discreción) una carga irrazonable o desproporcionadamente grande en nuestra infraestructura;</span></p>
  </li>
  <li >
    <p ><span>interfiera o intente interferir con el funcionamiento adecuado del Sitio, servicios o herramientas, o cualquier actividad realizada en o con los sitios, servicios o herramientas;</span></p>
  </li>
  <li >
    <p ><span>infrinja cualquier patente, marca, secreto comercial, derecho de autor, derecho de publicidad o cualquier otro derecho de cualquier otra persona o entidad, o que viole cualquier ley o contrato;</span></p>
  </li>
  <li >
    <p ><span>se hace pasar por otra persona o entidad, incluido cualquier empleado o representante de la Compañía;</span></p>
  </li>
  <li >
    <p ><span>se hace en el incumplimiento de cualquier obligación legal contraída con un tercero, como un deber contractual o un deber de confidencialidad; o</span></p>
  </li>
  <li >
    <p ><span>Los resultados de una apuesta, apuestas, loterías , rifas , sorteos, pirámide, esquema Ponzi o juego o concurso de azar similar.</span></p>
  </li>
</ul>
<p ><span>Además, usted no podrá:</span></p>
<ul>
  <li >
    <p ><span>utilizar los servicios del Sitio o sus herramientas si no es capaz de formar contratos legalmente vinculantes, es menor de edad en su país de residencia, o se encuentran temporalmente o indefinidamente suspendido del uso de los servicios o las herramientas del sitio;</span></p>
  </li>
  <li >
    <p ><span>dejar de entregar los artículos a sus Compradores, a menos que no se pueda autenticar la identidad del Comprador;</span></p>
  </li>
  <li >
    <p ><span>manipular el precio de cualquier artículo o interferir con anuncios de otros Usuarios;</span></p>
  </li>
  <li >
    <p ><span>dejar de entregar un Artículo Patrocinado, a menos que no se pueda autenticar la identidad del Patrocinador;</span></p>
  </li>
  <li >
    <p ><span>manipular el precio de cualquier Artículo Patrocinado o interferir con anuncios de otros Usuarios;</span></p>
  </li>
  <li >
    <p ><span>dejar de entregar inventario vendido por usted, a menos que el comprador no cumpla con los términos publicado, o si no puede ponerse en contacto con el comprador;</span></p>
  </li>
  <li >
    <p ><span>dejar de pagar los artículos adquiridos por usted, a menos que el dueño de la tienda haya cambiado sustancialmente la descripción del artículo después de que usted pagó por el artículo, se realiza un claro error tipográfico, o si no puede ponerse en contacto con el dueño de la tienda;</span></p>
  </li>
  <li >
    <p ><span>manipular el precio de cualquier inventario o interferir con los listados de otros usuarios;</span></p>
  </li>
  <li >
    <p ><span>eludir o manipular la estructura de cobros de La Empresa, el proceso de facturación, o los honorarios debidos a usar;</span></p>
  </li>
  <li >
    <p ><span>tomar cualquier acción que pueda perjudicar el buen funcionamiento del Sitio;</span></p>
  </li>
  <li >
    <p ><span>transferir su cuenta del sitio y el ID de usuario a un tercero sin nuestro consentimiento;</span></p>
  </li>
  <li >
    <p ><span>la exportación o reexportación de herramientas del sitio, salvo en cumplimiento de las leyes de control de exportación de las correspondientes jurisdicciones;</span></p>
  </li>
  <li >
    <p ><span>copiar, modificar o distribuir los derechos o contenidos del Sitio o de los derechos de autor y las marcas registradas del sitio;</span></p>
  </li>
  <li >
  <p ><span>prevenir o excluir a otros, que están utilizando el Sitio de conformidad con el presente Acuerdo, de acceder, ver o publicar de un proyecto en particular;</span></p>
    </li>
  <li >
    <p ><span>utilizar la cuenta de otro usuario sin permiso;</span></p>
  </li>
  <li >
    <p ><span>eludir nuestros protocolos de exclusión de robots u otras medidas que se pueden estar utilizando para prevenir o restringir el acceso al Sitio;</span></p>
  </li>
  <li >
    <p ><span>copiar, reproducir, modificar, crear trabajos derivados, distribuir o exhibir públicamente cualquier contenido (excepto para Su información) del Sitio sin el permiso escrito expreso previo de Impulsideas y la tercera parte correspondiente, según sea el caso; o</span></p>
  </li>
  <li >
    <p ><span>descifrar, descompilar, desensamblar, realizar ingeniería inversa o intentar derivar el código fuente o ideas subyacentes o algoritmos de cualquier parte del Servicio, salvo hasta la medida que las leyes aplicables prohíban específicamente dicha restricción.</span></p>
  </li>
</ul>
<p ><span>Los Creadores y Vendedores del proyecto se comprometen a no abusar de la información personal de otros usuarios. El abuso se define como el uso de información personal para cualquier otro propósito que no sean los especificados explícitamente en el Proyecto del Creador o tienda de venta del Vendedor, o no se relaciona con el cumplimiento de la entrega de un producto o servicio que se especifica de forma explícita en el Proyecto del Creador o Listado de Inventario Vendedor.</span></p>
<p ><span>La Compañía no tiene ninguna obligación de monitorear el Sitio o el Contenido y no puede ni asegura que otros usuarios cumplan o vayan a cumplir con las disposiciones anteriores de Reglas y Conducta o cualquier otra disposición de estos términos de uso, y, entre Usted y nosotros, Usted asume todo el riesgo de daño o lesión resultante de cualquier falta de conformidad. La Empresa se reserva el derecho a (i) investigar y tomar las medidas legales (incluyendo, sin limitación, la reparación civil, penal, y por mandato judicial) contra cualquier uso ilegal y/o no autorizados del Sitio, (ii) eliminar, editar o modificar cualquier contenido de Usuario a su sola discreción, incluyendo, sin limitación, cualquier contenido del Usuario, del sitio en cualquier momento, sin previo aviso a Usted y por cualquier motivo o sin motivo alguno (iii) y eliminar o bloquear cualquier contenido de Usuario del sitio.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Usuarios de nuestro servicio y miembros de la comunidad</span></h2>
<p ><span>Todos los visitantes al sitio, ya sean registradas o no, son usuarios. Si desea crear una Campaña, publicar Contenido de Usuario, contribuir a una campaña, crear un tienda, o comprar de una tienda, debe registrarse en el sitio para convertirse en un "miembro de la Comunidad".</span></p>
<h2 ><span>Elegibilidad</span></h2>
<p ><span>Usted puede usar nuestros servicios si:</span></p>
<ol>
  <li >
    <p ><span>Usted tiene 18 años o más, o entre las edades de 13 y 17 años y el uso del Sitio y los Servicios con el consentimiento de los padres o tutor legal y la supervisión.</span></p>
  </li>
  <li >
    <p ><span>Su membres&iacute;a o el uso de otro modo no se ha restringido, suspendido o cancelado</span></p>
  </li>
  <li >
    <p ><span>No est&aacute; utilizando la cuenta de otro miembro sin su permiso</span></p>
  </li>
  <li >
    <p ><span>Actualmente no Reside en un pa&iacute;s que no recibe nuestros servicios (</span><span>LINK FAQ</span><span>)</span></p>
  </li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Convertirse en un miembro</span></h2>
<p ><span>Mediante la creación de una cuenta de Miembro de la Comunidad se le requerirá para crear un nombre de usuario ("User ID") y la contraseña. Usted se compromete a proporcionar, mantener y actualizar información verdadera, precisa, actual y completa sobre usted como lo requiere Nuestro proceso de registro. Al registrarse como una organización, debe garantizar personalmente que usted tiene la autoridad para obligar a la entidad en el presente Acuerdo. Usted no deberá hacerse pasar por otra persona o entidad o falsificar su identidad o afiliación con cualquier persona o entidad, incluyendo el uso de nombre de usuario de otra persona, contraseña u otra información de la cuenta, o el nombre de otra persona, imagen, voz , imagen o fotografía. No podrá transferir o vender su Cuenta Miembro de la Comunidad y el ID de usuario a otra parte. Usted es completamente responsable de todas las actividades, la responsabilidad y los daños resultantes de su incumplimiento a mantener la confidencialidad de contraseña, y que Impulsideas no puede y no será responsable por cualquier pérdida o daño causado por su fracaso para mantener su contraseña segura.</span></p>
<p ><span>Además, Usted se compromete a salir de su cuenta al final de cada sesión. Usted reconoce y acepta que la Compañía podrá, a su entera discreción y en la medida permitida por la ley, acceder, leer, preservar y revelar la información de tu cuenta, historial de uso y contenido de usuario con el fin de: (a) cumplir con cualquier ley, regulaciones, procesos legales, pedidos del gobierno; (b) responder a reclamos de que algún Contenido viola los derechos de terceros, incluyendo los derechos de propiedad intelectual; (c) detectar, prevenir, o de cualquier modo abordar el fraude, seguridad o temas técnicos; (e) responder a sus solicitudes de servicio al cliente; o (f) proteger los derechos, propiedad o seguridad personal de Impulsideas, sus usuarios o el público. Usted no es de proporcionar su ID de usuario y contraseña en combinación con cualquier otra parte que no sea Impulsideas sin el permiso expreso y por escrito de Impulsideas.</span></p>
<p ><span>La Empresa se reserva el derecho, a su sola discreción, de negar el registro de o cancelar un ID de usuario, nombre de dominio, nombre de la tienda y el nombre del proyecto.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Emprendedores: Comercio Colaborativo</span></h2>
<p ><span>Impulsideas es una plataforma que puede permitir que ciertos usuarios ("Creadores de Campañas") tengan la disponibilidad de publicar una campaña de proyecto para exhibir y compartir información sobre el proyecto y obtener retroalimentación y ventas ("Contribuciones") de otros usuarios ("Vendedores") interesados a cambio de un artículo relacionado.</span></p>
<p ><span>Para crear una campaña de proyecto, el Creador debe completar todos los campos obligatorios del proceso de aplicación. Esto incluye el suministro y la elección de la configuración de la siguiente información:</span></p>
<ul>
  <li >
    <p ><span>La persona jurídica designada o persona en recibir los beneficios ("Beneficiario") debe ser definida, el beneficiario tiene que establecer una cuenta (la "Cuenta de Proyecto") con el procesador de pagos independiente designado (el "procesador") para recibir transacciones de este y que esa información se introduzca correctamente en la aplicación de la Campaña. Usted puede designarse a sí mismo como el beneficiario;</span></p>
  </li>
  <li >
    <p ><span>Una meta debe ser definida para las ventas totales que desea lograr durante su campaña de proyecto actual ("Meta Financiera");</span></p>
  </li>
  <li >
    <p ><span>Una meta debe ser definida para el tiempo necesario de campaña ("Fecha límite para ventas de proyecto");</span></p>
  </li>  
  <li >
    <p ><span>La logística de la campaña trabajará en base a recolectar el monto de las ventas realizadas durante el tiempo establecido. Sin embargo, si logra la meta trazada se le compensará con una tarifa más baja para Impulsideas como un incentivo por lograr su objetivo (ver otros temas más adelante para detalles sobre las tarifas);</span></p>
  </li>
  <li>
    <p ><span>Seleccione el tipo de proyecto:</span></p>
    <ul>
      <li >
        <p ><span>Comercial, puede ser creado por cualquier tipo de usuario.</span></p>
      </li>
      <li >
        <p ><span>Sin fines de lucro, debe ser verificada su identidad fiscal y cualquier otro documento solicitado.</span></p>
      </li>
      <li >
        <p ><span>Caridad, sólo puede ser creado por usuarios que hacen ventas para ayudar a entidades por caridad.</span></p>
      </li>
    </ul>
  </li>
</ul>
<p ><span>Una campaña puede ser publicada sólo después de que el usuario haya presentado una solicitud a la Compañía y esta sea aprobada.</span></p>
<p ><span>Mediante la publicación de una campaña de proyecto en el Sitio, usted acuerda:</span></p>
<ul>
  <li >
    <p ><span>ofrecer sólo artículos no monetarios por promesas;</span></p>
  </li>
  <li >
    <p ><span>que todos los artículos que se ofrecen deben ser legales y cumplir con el Acuerdo en cuestión;</span></p>
  </li>
  <li >
    <p ><span>que cuando llegue a su Fecha límite de campaña, las ventas asociadas a su campaña se cerrarán automáticamente;</span></p>
  </li>
  <li >
    <p ><span>que una tercera parte podrá designar su campaña como favorita, o como de proyectos vistos, y puede agregarlo a la página del tercero o de la lista en el sitio;</span></p>
    <ul>
      <li>
        <p><span>Usted puede rechazar la designación anterior enviando un email a servicio@impulsideas.com con su petición particular.</span></p>
      </li>
    </ul>
  </li>
  <li >
    <p ><span>cumplir con todos los artículos y responder con prontitud a todas las preguntas y comentarios sobre estos;</span></p>
  </li>
  <li >
    <p ><span>que si usted no puede cumplir con un artículo, se trabaja con el usuario para llegar a una solución mutuamente satisfactoria que puede incluir, sin limitación, la emisión de un reembolso con prontitud;</span></p>
  </li>
  <li >
    <p ><span>que Impulsideas no se hace responsable del incumplimiento y la calidad de los artículos, ni de los que declinan o limitan de lo contrario en el presente Acuerdo;</span></p>
  </li>
  <li >
    <p ><span>las cuotas establecidas en las políticas del sitio, políticas de devolución y Políticas de Pago como son identificadas en el presente acuerdo;</span></p>
  </li>
  <li >
    <p ><span>pagar las tarifas establecidas para las transacciones de Servicios a través del Sitio;</span></p>
  </li>
  <li >
    <p ><span>que usted no tiene derecho a recolectar las ventas realizadas hasta que no se cumpla la meta de tiempo establecida;</span></p>
  </li>
  <li >
    <p ><span>que, debido a las fallas ocasionales de algunas tarjetas de crédito, el sitio no puede y no garantiza la recepción completa de la cantidad objetivo de financiación que aparece en su página de campaña de proyecto;</span></p>
  </li>
  <li >
    <p ><span>que el sitio no ofrece ninguna garantía con respecto al rendimiento o la justicia del procesador de pagos;</span></p>
  </li>
  <li >
    <p ><span>que, debido a las fallas ocasionales de los pagos de consumidores, Impulsideas no puede garantizar la recepción, por parte de los creadores de la campaña, de la cantidad reflejada;</span></p>
  </li>
  <li >
    <p ><span>que Impulsideas y sus socios de pago descontarán sus tarifas antes de la transferencia para cumplir con el monto neto informado en este Acuerdo;</span></p>
  </li>
  <li >
    <p ><span>Impulsideas no hace reembolsos;</span></p>
  </li>
  <li >
    <p ><span>asumir plena responsabilidad por el contenido de la página de campaña y el cumplimiento de las obligaciones, tanto implícitas como indicadas en esta página;</span></p>
  </li>
  <li >
    <p ><span>que su campaña de proyecto está sujeta al Contenido de Usuario, y a todos los términos y condiciones relacionados con el Acuerdo en cuestión; y</span></p>
  </li>
  <li >
    <p ><span>que Impulsideas puede cancelar, interrumpir o suspender a un recaudador de fondos en cualquier momento y por cualquier razón.</span></p>
  </li>
<p ><span>Todo lo recolectado para los creadores del proyecto será vía el servicio de PayPal ("PayPal"). Las Condiciones de uso, Política de privacidad, Política de uso aceptable, clave de pago y la información de servicio, así como cualquier otro acuerdo o actualización de los mismos correspondiente, están disponibles en la página 
          <a href="https :/ /www.paypal.com/webapps/mpp/ua/legalhub-full?country.x=US&locale.x=en_US">Políticas PayPal</a></span></p>
<p ><span>Impulsideas no será responsable de sus interacciones con las organizaciones y/o individuos encontrados a través del servicio del sitio. Esto incluye, pero no está limitado a, la entrega de bienes y servicios, y cualquier otro término, condición, garantía o representación asociada con anuncios en la web. El Sitio no supervisa el rendimiento o la puntualidad de los creadores de campañas. El Sitio no se hace responsable de los daños y perjuicios ocasionados como consecuencia de los daños o pérdidas sufridas como resultado de dichos tratos. Todas las negociaciones son exclusivamente entre usted y dichas organizaciones y/o individuos. El Sitio no tiene la obligación de involucrarse en las disputas entre los participantes y los creadores del proyecto, o entre el sitio de miembros de la comunidad y por terceros. En el caso de una disputa , usted libera al Sitio, sus funcionarios, empleados, agentes y sucesores de los reclamos, daños y demandas de cualquier naturaleza, conocidos o desconocidos, sospechados o insospechados, divulgados o no, resultantes de o en cualquier forma relacionados con dichos conflictos y nuestro servicio. El Sitio se reserva el derecho de anular una lista de proyectos y, que en dado caso, reembolsará todos los pagos asociados en cualquier momento y por cualquier motivo o sin motivo. El Sitio se reserva el derecho a eliminar una lista de productos de la oferta pública por cualquier razón o sin ninguna razón.</span></p>
<p ><span>El Sitio no ofrece ninguna garantía con respecto al rendimiento o la imparcialidad de PayPal. Los Creadores pueden reembolsar el importe a su propia discreción. El Sitio no es responsable de la emisión de los reembolsos de las ventas que han sido recogidos por las campañas de los Creadores.</span></p>
<li >
<!-- Por aquí actualizando - EDWIN -->

<p ><span>Utilizar el Servicio de acuerdo con todas las leyes, reglamentos, decretos, directivas, &oacute;rdenes judiciales y el presente Acuerdo local y aplicable al uso del Sitio Web y sus Servicios.</span></p>
</li>
<li >
<p ><span>Utilizar el servicio en una manera a fin de no da&ntilde;ar, subutilizar, sobrecargar o deteriorar el Servicio, nuestras redes o de los sistemas o de no interferir con los derechos legales o el uso o disfrute del Servicio de los dem&aacute;s Usuarios.</span></p>
</li>
<li >
<p ><span>Aseg&uacute;rese de que es propietario o tenga un derecho legal para utilizar el contenido de los miembros con el Servicio y que no infrinja los derechos de propiedad intelectual de otros. "Contenido de Miembro" significa el contenido que se utiliza para crear y administrar una campa&ntilde;a, escribir o comentar o contribuir a una campa&ntilde;a. "Derechos de Propiedad Intelectual" significa todos los derechos en todo el mundo en las patentes, marcas comerciales, marcas de servicio, derechos de autor, secretos comerciales, la publicidad, fondo de comercio y todos los dem&aacute;s derechos de propiedad intelectual, pueden existir ahora o en el futuro llegar a existir, y todos los derivados, por lo tanto, las aplicaciones y las inscripciones, renovaciones y pr&oacute;rrogas de los mismos.</span></p>
</li>
</ul>
<p ><span>A modo de ejemplo, y no como limitaci&oacute;n, su promesa significa que usted no utilizar&aacute; el servicio:</span></p>
<p ><span>1. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para ofrecer, vender o distribuir:</span></p>
<p ><span>1.1. Sustancias controladas (como esteroides, drogas, tabaco, medicamentos recetados, marihuana), dispositivos m&eacute;dicos o productos o servicios que representen un riesgo para la seguridad del consumidor.</span></p>
<p ><span>1.2. Parafernalia de drogas.</span></p>
<p ><span>1.3. La intimidaci&oacute;n, acoso, elementos obscenos o pornogr&aacute;ficos, de orientaci&oacute;n sexual o materiales o servicios expl&iacute;citas.</span></p>
<p ><span>1.4. Acciones, bonos u otros valores, bienes ra&iacute;ces, seguros o servicios bancarios o financieros.</span></p>
<p ><span>1.5. Armas de fuego, municiones, cuchillos o accesorios regulados por la ley.</span></p>
<p ><span>1.6. Art&iacute;culos que promuevan el odio, lesiones personales, muerte, da&ntilde;o o destrucci&oacute;n a la propiedad.</span></p>
<p ><span>1.7. Art&iacute;culos que infrinjan o violen los derechos de propiedad intelectual de terceros, derechos de privacidad o los derechos de propiedad o err&oacute;neamente revelen informaci&oacute;n confidencial.</span></p>
<p ><span>2. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para participar en, fomentar, promover, facilitar o instruir a otros a participar en actividades que son ilegales o, en nuestro juicio y discreci&oacute;n, dan lugar a:</span></p>
<p ><span>2.1. Infringir o violar los derechos de propiedad intelectual de los dem&aacute;s y/o derechos de privacidad o injustamente revelar o utilizar la informaci&oacute;n confidencial.</span></p>
<p ><span>2.2. Promover el terrorismo, el abuso, la difamaci&oacute;n, el odio, lesiones personales, da&ntilde;os a la propiedad, la violencia, la intolerancia racial o la explotaci&oacute;n financiera.</span></p>
<p ><span>2.3. Causar riesgo de o verdaderas lesiones personales o da&ntilde;os a la propiedad tangible o intangible.</span></p>
<p ><span>2.4. Difamar a una persona o entidad.</span></p>
<p ><span>2.5. Esquemas de apuesta, lavado de dinero, evasi&oacute;n de impuestos, loter&iacute;as, rifas, sorteos, piramidales, Ponzi o esquema o juego o concurso de azar similares.</span></p>
<p ><span>2.6. Auto-promoci&oacute;n no autorizada.</span></p>
<p ><span>2.7. El uso de nuestros widgets en sitios con contenido que sea contrario o que viole este Acuerdo</span></p>
<p ><span>3. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para:</span></p>
<p ><span>3.1. Recoger o recolectar informaci&oacute;n acerca de otros (como direcciones de correo electr&oacute;nico u otra informaci&oacute;n de identificaci&oacute;n personal) sin su consentimiento de otro modo.</span></p>
<p ><span>3.2. Tomar cualquier acci&oacute;n que imponga o pueda imponer, a nuestro exclusivo criterio, una carga irrazonable o desproporcionadamente grande en la infraestructura o de lo contrario pueda ser perjudicial, incluyendo pero no limitado a, "flooding" cualquier grupo con comentarios.</span></p>
<p ><span>3.3. Subir, publicar, usar o poner a disposici&oacute;n cualquier contenido que contenga virus de software o cualquier otro c&oacute;digo de computadora, archivos corruptos o programas que impidan el uso de cualquier software o hardware o equipo de telecomunicaciones.</span></p>
<p ><span>3.4. Enviar mensajes o correos masivos o usar o lanzar alg&uacute;n sistema automatizado, incluyendo sin limitarse, "robots", " spiders", "lectores fuera de l&iacute;nea", etc., que acceda al servicio de una manera que env&iacute;e m&aacute;s mensajes de solicitud a los servidores de Impulsideas de los que un ser humano puede razonablemente producir en el mismo per&iacute;odo de tiempo mediante el uso de un navegador web convencional on- line.</span></p>
<p ><span>3.5. Intentar interferir con, poner en peligro la integridad del sistema o de la seguridad o descifrar cualquier transmisi&oacute;n hacia o desde los servidores que ejecutan el servicio o interferir en el correcto funcionamiento del servicio o medidas de derivaci&oacute;n para impedir o restringir el acceso al Servicio</span></p>
<p ><span>3.6. Hacerse pasar por otra persona o tergiversar su afiliaci&oacute;n con una persona o entidad, llevar a cabo fraude, ocultar o tratar de ocultar su identidad.</span></p>
<p ><span>3.7. Haga cualquier comentario falso o enga&ntilde;oso &nbsp;tales como informaci&oacute;n falsa o enga&ntilde;osa en la campa&ntilde;a, en su perfil de campa&ntilde;a (como tergiversar el Beneficiario o el prop&oacute;sito de la campa&ntilde;a) o en un comentario.</span></p>
<p ><span>Usted acepta que nosotros s&oacute;lo actuamos como un conducto pasivo para la distribuci&oacute;n y publicaci&oacute;n en l&iacute;nea de su Contenido de Miembro sin obligaci&oacute;n para monitorear el Contenido de Miembros o disputas entre los Usuarios o Miembros. Usted es responsable de protegerse de Contenido de Miembros o Contenido de Impulsideas que sea ofensivo o perjudicial.</span></p>
<p ><span>No obstante lo anterior, usted reconoce y acepta que Impulsideas puede, pero no est&aacute; obligado, a su exclusiva discreci&oacute;n y juicio, a:</span></p>
<p ><span>1. Verificar su uso en cualquier momento como un Usuario o Miembro.</span></p>
<p ><span>2. Permanente o temporalmente terminar, suspender o negarse a permitir su acceso o uso del Servicio o su cuenta (s) , o eliminar cualquier Contenido de Miembros , de comentarios o cualquier otro contenido o bloquear cualquier persona o entidad por cualquier raz&oacute;n (o sin raz&oacute;n en absoluto).</span></p>
<p ><span>3. Retrasar o retener el pago de o devolver o reembolsar cualquier Contribuci&oacute;n o de otros importes.</span></p>
<p ><span>Todo ello sin previo aviso y sin responsabilidad por cualquier da&ntilde;o y sin que sea necesario consultar a cualquier otra parte. Tras la rescisi&oacute;n, por cualquier motivo, usted contin&uacute;a obligado por el presente Acuerdo.</span></p>
<h3 ><span>Para crear una campa&ntilde;a</span></h3>
<p ><span>1. Crear un perfil de campa&ntilde;a y publicar una "Solicitud de Fondos". Se le puede requerir proporcionar la informaci&oacute;n de pago en funci&oacute;n de c&oacute;mo se hacen las contribuciones.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>2. Establezca su objetivo para las contribuciones totales que desea alcanzar durante su campa&ntilde;a actual ("Objetivo de la Campa&ntilde;a") y la fecha para la cual desea obtener los fondos ("Fecha l&iacute;mite de campa&ntilde;a") en la p&aacute;gina del perfil de su Campa&ntilde;a. La fecha l&iacute;mite de campa&ntilde;a puede estar entre 1 y 60 d&iacute;as a partir de la fecha en que su campa&ntilde;a se puso en marcha. Si la meta de su Campa&ntilde;a no es alcanzada antes de la fecha l&iacute;mite, entonces los Contribuyentes no son cobrados por Impulsideas</span><span>. </span><span>Si usted alcanza su meta de la campa&ntilde;a, puede publicar una nueva campa&ntilde;a para financiar la pr&oacute;xima fase de su campa&ntilde;a. El n&uacute;mero de campa&ntilde;as que puede hacer por emprendedor al a&ntilde;o es de cuatro (4) por a&ntilde;o. De igual manera est&aacute; restringido tener m&aacute;s de dos (2) campa&ntilde;as en proceso por cuenta.</span></p>
<p ><span>3. Designar la entidad legal o persona que recibe las contribuciones (el "Beneficiario") y aseg&uacute;rese de que el Beneficiario configure una cuenta (una "Cuenta de Fondos") con el procesador de pagos designado independiente del pago (el "Procesador") para recibir contribuciones. Usted puede designarse a s&iacute; mismo como el beneficiario.</span></p>
<p ><span>4. Usted puede ofrecer recompensas no monetarias para las contribuciones ("Beneficios").</span></p>
<p ><span>5. Cuando llegue a su Fecha l&iacute;mite de campa&ntilde;a, su solicitud de fondos se cerrar&aacute; autom&aacute;ticamente y ninguna contribuci&oacute;n ser&aacute; aceptada para su campa&ntilde;a. Usted puede hacer una nueva solicitud de fondos en cualquier momento despu&eacute;s de que el final de la &uacute;ltima solicitud de fondos se cierra.</span></p>
<p ><span>6. Mediante el uso de nuestro servicio, usted acepta que un tercero pueda elegir su campa&ntilde;a como uno de sus favoritos, y puede agregarlo a la p&aacute;gina del tercero o lista en Impulsideas.com. Usted puede negarse a esto enviando un correo electr&oacute;nico a servicio@impulsideas.com.</span></p>
<p><span><span><br /><br /></span></span></p>
<h2 ><span>Declaraciones y Promesas de usuario, Propietario Campa&ntilde;a y beneficiario</span></h2>
<p ><span>Como usuario, usted declara y promete que:</span></p>
<ol>
<li >
<p ><span> Toda la informaci&oacute;n de registro que presente es fiel y exacta.</span></p>
</li>
<li >
<p ><span> Va a mantener la exactitud de dicha informaci&oacute;n.</span></p>
</li>
<li >
<p ><span> Tiene 18 a&ntilde;os de edad o m&aacute;s.</span></p>
</li>
<li >
<p ><span> La utilizaci&oacute;n del Sitio Web y los Servicios no viola este Acuerdo. Su perfil puede ser eliminado y su uso puede ser cancelado sin previo aviso, si creemos que usted es menor de 18 a&ntilde;os de edad.</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Como propietario de campa&ntilde;a, usted representa y promete para nosotros que usted:</span></p>
<ol>
<li >
<p ><span> Es el representante autorizado del beneficiario con la autoridad:</span></p>
</li>
<ol>
<li >
<p ><span>para solicitar contribuciones para el beneficiario , y</span></p>
</li>
<li >
<p ><span>de obligar al beneficiario a los t&eacute;rminos de este Acuerdo.</span></p>
</li>
</ol>
<li >
<p ><span> Es el &uacute;nico responsable de cumplir con todas las reglas, pol&iacute;ticas y procedimientos del procesador de pagos.</span></p>
</li>
<li >
<p ><span> Cumplir&aacute; con todas las normas especiales sobre beneficios (recompensas).</span></p>
</li>
<li >
<p ><span> Responder&aacute; con prontitud y honestidad a las preguntas formuladas por los Miembros.</span></p>
</li>
<li >
<p ><span> Aseg&uacute;rese de que todas las contribuciones se desembolsan correctamente y legalmente al Beneficiario y que se utilizan como describe la Campa&ntilde;a.</span></p>
</li>
<li >
<p ><span> Si, por alguna raz&oacute;n, usted no puede utilizar Contribuciones como se describe en su campa&ntilde;a, usted trabaja con sus colaboradores para llegar a una soluci&oacute;n mutuamente satisfactoria que pueda incluir, sin limitaci&oacute;n, la devoluci&oacute;n de las contribuciones.</span></p>
</li>
<li >
<p ><span> Son responsables por el uso de las contribuciones distintas a las contempladas en la campa&ntilde;a ("mal uso"), conjunta y solidariamente, con el Beneficiario de la Campa&ntilde;a y la rendici&oacute;n de cuentas y responsabilidad.</span></p>
</li>
<li >
<p ><span> Recompensas o incentivos no deben incluir tarjetas de regalo, acciones, rifas o sorteos.</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Como beneficiario, usted reconoce, entiende y promete que:</span></p>
<ol>
<li >
<p ><span> Tu Cuenta de Fondos est&aacute; sujeta a los t&eacute;rminos del Procesador de pagos (PayPal).</span></p>
</li>
<li >
<p ><span> Impulsideas no se hace responsable de:</span></p>
</li>
<ol>
<li >
<p ><span>cualquier campa&ntilde;a no alcanzar su meta;</span></p>
</li>
<li >
<p ><span>cualquier reembolso, incluyendo, sin limitaci&oacute;n, por contribuciones o recompensas, por cualquier raz&oacute;n o sin raz&oacute;n alguna;</span></p>
</li>
<li >
<p ><span>cualquier error u omisi&oacute;n en la Cuenta de Fondos o causado por el procesador de pagos;</span></p>
</li>
<li >
<p ><span>el fracaso del procesador de pagos o propietario de Campa&ntilde;a a pagar las contribuciones al beneficiario o por el mal uso de las contribuciones, y</span></p>
</li>
<li >
<p ><span>del Contenido de miembros.</span></p>
</li>
</ol></ol>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Usted como due&ntilde;o de campa&ntilde;a es el responsable de cualquier medida, da&ntilde;o y/o reclamaci&oacute;n que haga sobre su campa&ntilde;a.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Contribuyentes y contribuciones a campa&ntilde;as</span></h2>
<p ><span>Impulsideas puede proporcionarle la oportunidad de hacer contribuciones a cualquier campa&ntilde;a con una solicitud de fondos m&aacute;xima de US$100.00 (o su equivalente en la moneda de tu pa&iacute;s) por transacci&oacute;n. Cada persona puede hacer un m&aacute;ximo de 4 transacciones por proyecto.</span></p>
<p ><span>Todas las contribuciones son reembolsables por Impulsideas y est&aacute;n hechas en su sola discreci&oacute;n y por su cuenta y riesgo en base a su exclusiva determinaci&oacute;n y evaluaci&oacute;n de la Campa&ntilde;a. Usted es el &uacute;nico responsable de determinar la deducibilidad fiscal de cualquier contribuci&oacute;n.</span></p>
<p ><span>Hacer una colaboraci&oacute;n no:</span></p>
<ol>
<li >
<p ><span>le dar&aacute; ning&uacute;n derecho o propiedad sobre o en que la campa&ntilde;a o contribuciones;</span></p>
</li>
<li >
<p ><span>le dar&aacute; ning&uacute;n derecho de distribuci&oacute;n;</span></p>
</li>
<li >
<p ><span>le dar&aacute; ning&uacute;n derecho de controlar o dirigir de otra manera con el Propietario Campa&ntilde;a, Beneficiario, Impulsideas , el Servicio , Campa&ntilde;a, procesador o limitar o afectar de otro modo Colaboradores o contribuciones , y</span></p>
</li>
<li >
<p ><span>crear cualquier obligaci&oacute;n o responsabilidad por parte de Impulsideas a cualquier colaborador o por cualquier contribuci&oacute;n , independientemente de la raz&oacute;n.</span></p>
</li>
</ol>
<p ><span>Las ventajas que le ofrecemos son estrictamente entre el contribuyente y el propietario de la campa&ntilde;a y del beneficiario.</span></p>
<p ><span>Impulsideas no representa, ni garantiza que:</span></p>
<ol>
<li >
<p ><span>Se dar&aacute;n los beneficios;</span></p>
</li>
<li >
<p ><span>Los beneficios ser&aacute;n satisfactorios para usted, o</span></p>
</li>
<li >
<p ><span>El uso de cualquier Contribuci&oacute;n o el resultado de cualquier campa&ntilde;a. Le corresponde a usted, como contribuyente, al hacer tales preguntas y llevar a cabo dicha diligencia seg&uacute;n considere necesario antes de hacer una contribuci&oacute;n. Impulsideas podr&aacute;, a su entera discreci&oacute;n y juicio, pero no est&aacute; en obligaci&oacute;n de, solicitar la devoluci&oacute;n de las cuotas.</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Tasas, Impuestos y Verificaci&oacute;n</span></h2>
<p ><span>Todas las contribuciones se depositar&aacute;n en su Cuenta de Financiamiento menos nuestra tasa por servicios que figura en nuestro sitio web (</span><span>LINK FAQ</span><span>). Diferentes cargos pueden aplicarse a las campa&ntilde;as sin fines de lucro o con descuento. Los honorarios se pueden ajustar en cualquier momento como Impulsideas decida a su exclusivo criterio y discreci&oacute;n. Los honorarios son reembolsables.</span></p>
<p ><span>Honorarios del procesador y las tasas y cargos pueden aplicar y/o ser&aacute;n deducidos de Cuotas. Las contribuciones se transferir&aacute;n basado en la financiaci&oacute;n y el pago que haya seleccionado a menos que se ejecute para completar nuestro proceso de verificaci&oacute;n o de ser reembolsado cuando lo consideremos apropiado a nuestra sola discreci&oacute;n.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Usted es responsable de informar adecuadamente y pagar a tiempo, todos los impuestos de todas las contribuciones.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Podemos verificar tu identidad y la del beneficiario, la utilizaci&oacute;n de las contribuciones y la l&iacute;nea de tiempo de la campa&ntilde;a antes de que las contribuciones se depositen en su cuenta. Usted se compromete a participar en nuestro proceso de verificaci&oacute;n que puede implicar una entrevista y/o revisi&oacute;n de documentos. La verificaci&oacute;n puede resultar en un retraso de las contribuciones que se transfieran o inversi&oacute;n y reembolso como Impulsideas determine a su sola discreci&oacute;n y juicio.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Las discrepancias en las declaraciones o falsos argumentos en cuanto a la Campa&ntilde;a, Beneficiario o usos de contribuciones pueden resultar en devoluci&oacute;n de Aportes y/o suspensi&oacute;n de cuentas. Si los Aportes se han desembolsado a usted o del Beneficiario, usted y el beneficiario se asegurar&aacute; de que todas las contribuciones se reembolsar&aacute;n con prontitud a todos los colaboradores, sin deducci&oacute;n de las cuotas pagadas o por pagar por usted.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Contenido de los Miembros y garant&iacute;a de no infraccion</span></h2>
<p ><span>El servicio le permite publicar los detalles de la campa&ntilde;a y la informaci&oacute;n, opiniones, comentarios, preguntas, y otra informaci&oacute;n ("Contenido de Miembro"). Usted es el &uacute;nico responsable del Contenido de Miembros que cargue, publique, muestre, vincule o de otro modo utilice o ponga a disposici&oacute;n (colectivamente, "Publicaci&oacute;n") en el Servicio.</span></p>
<p ><span>Usted manifiesta y garantiza que:</span></p>
<ol>
<li >
<p ><span>Usted es el propietario de (o tiene todos los derechos y permisos necesarios para utilizar) todos los derechos de propiedad intelectual (como se define a continuaci&oacute;n) en el contenido de los miembros que publique o como se contempla razonablemente por el uso en Impulsideas de dicho Contenido de miembros y contar con el consentimiento por escrito de cada persona f&iacute;sica identificable en el Contenido de Miembros a utilizar, el nombre o la imagen de esa persona en la forma prevista por el Servicio y el presente Acuerdo.</span></p>
</li>
<li >
<p ><span>El uso del contenido de los miembros con los Servicios no infringe ning&uacute;n derecho de propiedad intelectual, derechos de propiedad, derechos de privacidad, la confidencialidad y los derechos de publicidad o de alguna forma violar este Acuerdo.</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Usted entiende que la publicaci&oacute;n del contenido de los miembros en el servicio no es un sustituto para registrarse con la Oficina Nacional de Propiedad Intelectual de Rep. Dom. (ONAPI), </span><span>U.S. Patent and Trademark Office, U.S. Copyright Office, the Writer's Guild of America, </span><span>o cualquier otra organizaci&oacute;n de derechos.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Concesi&oacute;n de licencia de contenido de los miembros y Sugerencias de Campa&ntilde;a.</span></h2>
<p ><span>Al publicar cualquier contenido de Servicio de los miembros, Usted concede expresamente, y usted representa y garantiza que usted tiene el derecho de conceder, a Impulsideas, sublicenciable, transferible, perpetua, irrevocable no exclusiva y libre de regal&iacute;as, a nivel mundial para usar, reproducir, modificar, publicar, listar informaci&oacute;n sobre, editar, traducir, distribuir, ejecutar p&uacute;blicamente, exhibir p&uacute;blicamente y hacer obras derivadas de todo el Contenido de miembros, incluidos, sin limitaci&oacute;n, su nombre, voz y/o imagen, parcial o completamente, y en cualquier forma, medio o tecnolog&iacute;a, ya sea conocido o por desarrollarse para su uso en relaci&oacute;n con el Servicio.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Usted decide:</span></p>
<ol>
<li >
<p ><span>Irrevocablemente ceder todos los derechos mundiales, t&iacute;tulos e intereses sobre y para todo el Contenido publicado a un miembro de la campa&ntilde;a, al Due&ntilde;o que la public&oacute; y,</span></p>
</li>
<li >
<p ><span>Por la presente renuncio y cedo al propietario de la Campa&ntilde;a y a Impulsideas cualquier reclamaci&oacute;n que ahora tienen o pueda tener en lo sucesivo, conocidos o desconocidos en relaci&oacute;n con o como resultado del contenido publicado incluyendo, sin limitaci&oacute;n, la infracci&oacute;n o violaci&oacute;n de cualquier derecho de privacidad o de la obligaci&oacute;n de confidencialidad.</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Si publica una campa&ntilde;a, usted reconoce y acepta que Impulsideas no se hace responsable por el uso del contenido publicado y es utilizado a su propio riesgo.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Concesi&oacute;n de licencia para utilizar el servicio y el contenido de Impulsideas</span></h2>
<p ><span>Usted entiende y acepta que el uso del Servicio (incluyendo, sin limitaci&oacute;n, el contenido de Impulsideas) es un privilegio y no un derecho. En virtud del presente Acuerdo, Impulsideas le otorga una licencia personal limitada no exclusiva, para usar el Servicio de acuerdo con este Acuerdo. Usted se compromete a (y se asegurar&aacute; de otros):</span></p>
<ol>
<li >
<p ><span>Utilizar el Servicio o Contenido Impulsideas en estricto cumplimiento del presente Acuerdo, y</span></p>
</li>
<li >
<p ><span>No crear trabajos derivados de cualquier Contenido de Impulsideas. El uso del Servicio o Contenido de Impulsideas para cualquier prop&oacute;sito que no est&eacute; expresamente permitido por este Acuerdo est&aacute; terminantemente prohibido.</span></p>
</li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<p ><span>A excepci&oacute;n del Contenido de Miembros y el derecho limitado del uso del Servicio, Impulsideas conserva todos los derechos, t&iacute;tulos e intereses (incluyendo, sin limitaci&oacute;n, todos los Derechos de Propiedad Intelectual) sobre y para el Servicio y todo el contenido creado y utilizado por Impulsideas en conjunto con el Servicio, incluyendo, a modo de ejemplo y no como limitaci&oacute;n, todo el software, im&aacute;genes, textos, gr&aacute;ficos, ilustraciones, logotipos, patentes, marcas comerciales, marcas de servicio, derechos de autor, fotograf&iacute;as, audio, videos, m&uacute;sica (el "Contenido de Impulsideas"), todos de los cuales son de titularidad exclusiva de Impulsideas y sus licenciantes. Impulsideas retiene todos los derechos no concedidos expresamente a usted.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Impulsideas se reserva todos los derechos no concedidos expresamente en el Servicio. Impulsideas podr&aacute; terminar esta licencia en cualquier momento y por cualquier motivo o sin motivo.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>El uso de widgets</span></h2>
<p ><span>Impulsideas le puede dar la oportunidad de publicar un "widget " o c&oacute;digo que crea un gr&aacute;fico de Impulsideas y un enlace al sitio, en su blog personal, perfil de red social, o en otros lugares en el Internet. Usted acepta que el uso de widgets de Impulsideas est&aacute; sujeto a este Acuerdo, que no publicar&aacute; ning&uacute;n widget de Impulsideas en una p&aacute;gina web que contiene el contenido que est&aacute; prohibido en virtud de la secci&oacute;n de este Acuerdo "Contenido de miembros", y que eliminar&aacute; todos los widgets de Impulsideas inmediatamente despu&eacute;s de la terminaci&oacute;n del presente Acuerdo.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Seguridad</span></h2>
<p ><span>Hemos implementado medidas t&eacute;cnicas y organizativas comercialmente razonables destinadas a asegurar su informaci&oacute;n personal de p&eacute;rdidas accidentales y frente al acceso, uso, alteraci&oacute;n o divulgaci&oacute;n. Sin embargo, no podemos garantizar que terceros no autorizados no podr&aacute;n superar esas medidas o utilizar su informaci&oacute;n personal para fines indebidos. Usted reconoce que usted proporciona su informaci&oacute;n personal bajo su propio riesgo.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Indemnidad</span></h2>
<p ><span>Usted acepta defender, indemnizar y mantener a Impulsideas, sus subsidiarias y compa&ntilde;&iacute;as afiliadas, y sus oficiales, directores, empleados, contratistas, agentes, sin da&ntilde;os de y contra cualquier y todo reclamo, causas de acci&oacute;n, da&ntilde;os, obligaciones, p&eacute;rdidas, responsabilidades, costos o de la deuda, y gastos (incluyendo honorarios y costos de abogados) que surja de o en relaci&oacute;n con su uso del contenido del Servicio e Impulsideas incluyendo, sin limitaci&oacute;n, su negligencia, incumplimiento de cualquiera de las representaciones, garant&iacute;as o promesas o violaci&oacute;n de cualquier ley, reglamento, ordenanza, una directiva o una orden judicial. Usted sigue siendo responsable de cualquier cantidad que pagamos en el arreglo de cualquier reclamaci&oacute;n o acci&oacute;n de indemnizaci&oacute;n como si hubi&eacute;ramos procedido a un juicio.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Terminaci&oacute;n</span></h2>
<p ><span>Podemos cancelar su acceso al Sitio, sin causa particular o previo aviso, que puede resultar en la confiscaci&oacute;n y destrucci&oacute;n de toda la informaci&oacute;n asociada con usted. Todas las disposiciones de este Acuerdo que por su naturaleza deber&iacute;an sobrevivir a la terminaci&oacute;n permanecer&aacute;n, incluyendo, sin limitaci&oacute;n, las disposiciones de propiedad, renuncias de garant&iacute;a, indemnizaci&oacute;n y limitaciones de responsabilidad.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Enlaces a otros sitios</span></h2>
<p ><span>Nuestro Sitio puede contener enlaces a sitios de terceros que no son propiedad ni est&aacute;n controladas por GAPEK, SRL.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>GAPEK, S.R.L. no tiene control sobre, y no asume ninguna responsabilidad por el contenido, pol&iacute;ticas de privacidad o pr&aacute;cticas de cualquier sitio o servicio de terceros. Recomendamos como prioridad leer los t&eacute;rminos y condiciones y las pol&iacute;ticas de privacidad de cualquier sitio de terceros que visite.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Legislaci&oacute;n aplicable</span></h2>
<p ><span>Este Acuerdo (y cualquier otra regla, pol&iacute;tica o lineamiento incorporado por referencia) se regir&aacute;n e interpretar&aacute;n de acuerdo con las leyes de la Rep&uacute;blica Dominicana, sin dar efecto a cualquier principio de conflicto de leyes.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Cambios a este Acuerdo</span></h2>
<p ><span>Nos reservamos el derecho , a nuestra sola discreci&oacute;n, de modificar o sustituir estos T&eacute;rminos y Condiciones mediante la publicaci&oacute;n de los t&eacute;rminos actualizados en el sitio. El uso del Sitio despu&eacute;s de cualquier cambio constituye la aceptaci&oacute;n de los nuevos T&eacute;rminos y Condiciones.</span></p>
<p><span><span>&nbsp;</span></span></p>
<p ><span>Por favor revise este Acuerdo peri&oacute;dicamente para mantenerse actualizado de los cambios. Si usted no est&aacute; de acuerdo con alg&uacute;n elemento o cambio de este Acuerdo, descontin&uacute;e la utilizaci&oacute;n y el acceso al Sitio inmediatamente.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Cont&aacute;ctenos</span></h2>
<p ><span>Si usted tiene alguna pregunta acerca de este Acuerdo , por favor cont&aacute;ctenos en </span><span><a href="mailto:servicio@impulsideas.com">servicio@impulsideas.com</a></span><span>.</span></p>


</div>
</div>


